#jinja2: lstrip_blocks: True
---
avi_config:
  pool:
    - name: "ScaleTest-Pool"
      lb_algorithm: LB_ALGORITHM_ROUND_ROBIN
      health_monitor_refs: '/api/healthmonitor?name=System-HTTP'
      servers: "{{ pool_servers }}"
      cloud_ref: '/api/cloud?name={{ cloud_name }}'

  vsvip:
  {% for num in range(1, num_vs) %}
    - name: "{{ 'vsvip_app' + num | string + region }}"
      cloud_ref: '/api/cloud?name=Default-Cloud'
      dns_info:
        - num_records_in_response: 1
          type: DNS_RECORD_A
          fqdn: "{{ 'app' + num | string + region | lower +'.region01' + region | lower + '.corp.local' }}"
          algorithm: DNS_RECORD_RESPONSE_CONSISTENT_HASH
          ttl: 30
      vip:
      - auto_allocate_ip: true
        vip_id: {{ num }}
        avi_allocated_fip: false
        discovered_networks:
        - subnet:
            - mask: 24
              ip_addr:
                type: V4
                addr: "{{ region_subnet }}"
            network_ref: "{{ '/api/network?name=VIP-Region' + region | upper +'01-vDS-COMP' }}"
        enabled: true
        ipam_network_subnet:
        subnet:
          mask: 24
          ip_addr:
            type: V4
            addr: "{{ region_subnet }}"
        network_ref: "{{ '/api/network?name=VIP-Region' + region | upper +'01-vDS-COMP' }}"
        auto_allocate_floating_ip: true
        avi_allocated_vip: false
        auto_allocate_ip_type: V4_ONLY
  {% endfor %}
  {% for num in range(1, num_vs) %}
  virtualservice:
    - name: "{{ 'vs' + num | string }}"
      cloud_ref: '/api/cloud?name=Default-Cloud'
      pool_ref: /api/pool?name=ScaleTest-Pool
      application_profile_ref: '/api/applicationprofile?name=System-HTTP'
      services:
        - port: 80
      vsvip_ref: /api/vsvip?name={{ 'vsvip_app' + num | string + region }}
      analytics_policy:
      udf_log_throttle: 10
      full_client_logs:
        duration: 0
        throttle: 10
        enabled: true
      metrics_realtime_update:
        duration: 0
        enabled: false
      significant_log_throttle: 10
      client_insights: NO_INSIGHTS
      all_headers: true
    {% endfor %}
