#jinja2: lstrip_blocks: True
---
avi_config:
  vsvip:
  {% for num in range(1, num_vs) %}
    - name: "{{ 'vsvip_app' + num | string }}"
      cloud_ref: '/api/cloud?name=Default-Cloud'
      dns_info:
        - num_records_in_response: 1
          type: DNS_RECORD_A
          fqdn: "{{ num | string + '.' + domain }}"
          algorithm: DNS_RECORD_RESPONSE_CONSISTENT_HASH
          ttl: 30
      vip:
      - auto_allocate_ip: true
        vip_id: {{ num }}
        avi_allocated_fip: false
        discovered_networks:
        - subnet:
            - mask: {{ vip_mask }}
              ip_addr:
                type: V4
                addr: "{{ vip_subnet }}"
          network_ref: "{{ '/api/network?name=' + vip_network_name }}"
        enabled: true
        ipam_network_subnet:
          subnet:
            mask: {{ vip_mask }}
            ip_addr:
              type: V4
              addr: {{ vip_subnet }}
          network_ref: "{{ '/api/network?name=' + vip_network_name }}"
        auto_allocate_floating_ip: true
        avi_allocated_vip: false
        auto_allocate_ip_type: V4_ONLY
  {% endfor %}
  virtualservice:
  {% for num in range(1, num_vs) %}
    - name: "{{ 'vs' + num | string }}"
      cloud_ref: "{{ '/api/cloud?name=' + cloud_name }}"
      pool_ref: '/api/pool?name={{ pool_name }}'
      application_profile_ref: '/api/applicationprofile?name=System-HTTP'
      services:
        - port: 80
      vsvip_ref: /api/vsvip?name={{ 'vsvip_app' + num | string }}
      se_group_ref: /api/serviceenginegroup?name={{ seg_name }}
  {% endfor %}
